<div class="bootstrap-wrapper">

    <div class="container  ">

        <div class="row justify-content-center" >
        <mat-card  class=" col-5  ep-border-radius mat-elevation-z8" >
            <mat-card-header>
                    <mat-card-title class="color-white">
                        Change Instructor Name and Email
                    </mat-card-title>
            </mat-card-header>
            <mat-divider>
            </mat-divider>
            <mat-card-content class= "card-content">
                
                <form  class="row justify-content-center" [formGroup]="insForm" (ngSubmit)="onSubmit()">
                    <mat-progress-bar *ngIf="progressBar" mode="indeterminate" class="col col-8"></mat-progress-bar>
                        <mat-form-field  class="col col-8"  appearance="outline" color="accent">
                            <mat-label>Instructor Name</mat-label>
                            <input matInput formControlName="name" placeholder="Ex. Nishant Sharma">
                            <!-- <mat-icon matSuffix>assignment</mat-icon> -->
                            <!-- <mat-hint>Ex. End Semester</mat-hint> -->
                          </mat-form-field>
                          
                          <mat-form-field  class="col col-8" appearance="outline" color="accent">
                            <mat-label>Your New Email</mat-label>
                            <input matInput type="email" formControlName="email" placeholder="Ex. sudoaccessdenied@gmail.com" >
                            <!-- <span matSuffix>min </span> -->
                            <!-- <mat-hint>Ex.  For 3 hour enter 180 min</mat-hint> -->
                          </mat-form-field>
                        
                         
                         <mat-error *ngIf="error" innerHtml="{{error}}"></mat-error>
                          <button class="col col-8" mat-raised-button color="primary"
                               type = "submit" mat-raised-button
                              [class.mat-elevation-z5]="true"
                              [disabled] = "!insForm.valid "
                          >{{progressBar?"Submit...":"Submit"}}</button>

                    </form>
            

    </mat-card-content>
</mat-card>

    </div>

</div>
</div>
